<div class="dropdown-menu fade" id="context-menu">
	<button type="button" class="dropdown-item custom" data-activate="rename">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil"
			viewBox="0 0 16 16">
			<path
				d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
		</svg>
		&nbsp;&nbsp;Rename
	</button>
	<button type="button" class="dropdown-item custom" data-activate="createFolder">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder-plus"
			viewBox="0 0 16 16">
			<path
				d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
			<path
				d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
		</svg>
		&nbsp;&nbsp;New Folder
	</button>
	<button type="button" class="dropdown-item custom" data-activate="hideFolder">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder-minus"
			viewBox="0 0 16 16">
			<path
				d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
			<path d="M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
		</svg>
		&nbsp;&nbsp;Hide Folder
	</button>
	<button type="button" class="dropdown-item custom" data-activate="deleteFolder">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder-x"
			viewBox="0 0 16 16">
			<path
				d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
			<path
				d="M11.854 10.146a.5.5 0 0 0-.707.708L12.293 12l-1.146 1.146a.5.5 0 0 0 .707.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.707-.708L13 11.293l-1.146-1.147z" />
		</svg>
		&nbsp;&nbsp;Delete Folder
	</button>

	<button type="button" class="dropdown-item custom" data-activate="details">A fourth
		button item
	</button>
	<li>
		<hr class="dropdown-divider">
	</li>
	<button type="button" class="dropdown-item custom" disabled>A
		disabled button item
	</button>
</div>
<style>
	#context-menu {
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: transparent;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}

	.dropdown-item.custom {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
</style>
<script>
	const contextMenu = $("#context-menu");
	const contextItems = $('#context-menu .dropdown-item');
	$(document).ready(function () {
		$(window).on('contextmenu', function (e) {
			console.log(e.target);
			e.stopImmediatePropagation();
			e.preventDefault();
			let top;

			let left;
			if (e.clientY >= (window.innerHeight - contextMenu.height())) {
				top = e.clientY - (contextMenu.height() + 30);
			}
			else if (e.clientY <= 10) {
				top = e.clientY + 30;
			}
			else {
				top = e.clientY;
			}
			if (e.clientX <= 10) {
				left = e.clientX + 30;
			}
			else if (e.clientX >= (window.innerWidth - contextMenu.width())) {
				left = e.clientX - (contextMenu.width() + 30);
			}
			else {
				left = e.clientX;
			}
			contextMenu.css({
				top: top,
				left: left
			});
			contextMenu.addClass('show');
		});
		$(window).on('click', function (e) {
			e.stopImmediatePropagation();
			if (contextMenu.hasClass('show')) {
				contextMenu.removeClass('show');
			}
		});
		contextItems.click(function () {
			const dataAttr = $(this).attr("data-activate");
			console.log(dataAttr);
		});
	})
</script>