<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ("./base.ejs"); %>
</head>

<body>
	<%- include ("./contextmenu.ejs") %>

		<a href="/folders/6295a9963526db756e309672" class="btn btn-outline-primary">/Users</a>

</body>
<style>
	a[href="/folders/6295a9963526db756e309672"] {
		margin-top: 150px;
		margin-left: 75px;
	}
</style>
<script>
</script>

</html>